$sam-unit--padding--card-bottom: 30px;
$sam-unit--box-shadow--medium: 0px 0px 27px -9px $sam-color--grey--secondary;

.card-wrapper {
  background-color: $sam-color--white--primary;
  padding: 20px;
  border-radius: 5px;
  box-shadow: $sam-unit--box-shadow--medium;
  margin-bottom: $sam-unit--padding--card-bottom;
}

.anticon {
  vertical-align: 0;
}