$sam-unit--padding--card-bottom: 30px;
$sam-unit--box-shadow--medium: 0 4px 8px 0 $sam-color--grey--primary;

.card-wrapper {
  background-color: $sam-color--white--primary;
  padding: 20px;
  border-radius: 5px;
  box-shadow: $sam-unit--box-shadow--medium;
  margin-bottom: $sam-unit--padding--card-bottom;
}

.anticon {
  vertical-align: 0;
}

.md-tile-addon--icon{
  height: auto;
}