@import '../../node_modules/react-md/src/scss/react-md';
@include react-md-everything;

// Variable overrides
$md-primary-color: $md-teal-500;
$md-secondary-color: $md-purple-a-400;

// Classes overrides
.ant-input-number{
  width: auto !important;
}


// Color variables
$sam-color--black--primary: black;
$sam-color--black--secondary: rgba(0, 0, 0, 0.65);
$sam-color--grey--primary: rgba(18,37,31,.35); // box-shadows,
$sam-color--grey--secondary: #3c3a38;
$sam-color--grey--tertiary: #9c9e9f; // box-shadows,
$sam-color--blue--primary: #1890ff;
$sam-color--white--primary: white;


$colors-list:
        $sam-color--black--primary
        $sam-color--black--secondary
        $sam-color--grey--primary
        $sam-color--grey--secondary
        $sam-color--grey--tertiary
        $sam-color--blue--primary
        $sam-color--white--primary
        ;

@each $current-color in $colors-list {
  $i: index($colors-list, $current-color);
  .apply-color-#{$i} {
    color: $current-color;
  }
}
