.robot {
  &-overview {
    @extend .card-wrapper;

    &--content {
      &--title {
        color: black;
        text-transform: uppercase;
      }

      &--address {
      }

      &--activity {
      }

      &--see-more {
      }

    }


    &--footer {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      background-color: #1890ff;
      padding: 8px;
      margin: -15px; // petite combination pour que la partie du bas prenne toute la largeur
      width: calc(100% + 2 * 15px); // idem

      p {
        color: white;
      }

      a {
        color: white
      }
    }
  }
}