.robot {
  &-overview {
    @extend .card-wrapper;


    &--content {


      &--title {
        color: black;
        text-transform: uppercase;

        &--id {
          display: block;
          font-size: 11px;
          color: $sam-color--grey--tertiary;
        }
      }

      &--address {
      }

      &--activity {
      }

      &--see-more {
      }

    }


    &--footer {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      background-color: $sam-color--blue--primary;
      padding: 8px;
      margin: -20px; // fixture: pour que la partie du bas prenne toute la largeur
      width: calc(100% + 2 * 20px); // idem

      p {
        color: $sam-color--white--primary;
      }

      a {
        color: $sam-color--white--primary
      }
    }
  }

  &-details {
    &-header{
      @extend .card-wrapper;
    }

    &-big-card {
      @extend .card-wrapper;
    }
  }
}